.user-info {
  display: flex;
  margin: 12px 8px 0;
}

.user-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8px;
}

.account {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  margin: 8px;
}

.account a {
  margin-top: 8px;
  text-decoration: none;
  color: black;
}

.account a:hover,
.account a:active {
  color: black;
  text-decoration: none;
}

.buttons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn-logout {
  display: inline-flex;
  width: 100%;
  margin: 8px;
  outline: none;
  border: 2px solid #c62828;
  border-radius: 4px;
  color: #c62828;
  font-weight: bold;
  cursor: pointer;
  padding: 8px 12px;
  font-size: 16px;
  background: white;
}

.btn-logout h3 {
  margin: 0 auto;
}
